@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";



@theme{
  --font-dancing:  "Dancing Script", cursive;
  --font-agbalumo: "Agbalumo", system-ui;
  --font-inter: "inter", sans-serif;
}

*{
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
}
html, body{
    background: #161d37;
    color: white;
    width: 100%;
    scroll-behavior: smooth;
    /* cursor: none; */
    /* position: relative; */
 
}


@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-shimmer {
  animation: shimmer 2s alternate infinite;
}

.multi-gradient {
  background: linear-gradient(to right,
    transparent,
    rgb(239, 36, 254),
    rgb(18, 18, 255),
    transparent
  );
}

@keyframes movebin {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}


.movebin{
  animation: movebin 1.8s ease-in-out infinite;
  /* position: relative; */
}

@keyframes movelaptop {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}

.movelaptop{
  animation: movelaptop 1.8s ease-in-out infinite;
}

@keyframes jumps {
  0%{
    transform: scale(0);
  }
  15%{
    transform: scale(1.1);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(1);
  }
  
  75%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(0.2);
  }
}
.jump{
  animation: jumps 4s linear infinite;
}

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.shimmerEffect::before {
  content: "";
  position: absolute;
  inset: 0;
  /* padding: 1px; */
  border-radius: inherit;
  background: linear-gradient(
    270deg,
    #ff00ff,
    #00ffff,
    #ff00ff
  );
  background-size: 200% 200%;
  animation: borderGlow 3s linear infinite;
  /* -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; */
}




.cart{
    animation: carts 2s linear infinite;
}

@keyframes carts {
  0%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

